<div class="navbar">
    <span class="title">Prestamos Tangelo</span>
    <div class="buttons">
        <ng-container *ngIf="userActive; else elseTemplate">
            <button mat-icon-button style="width: 200px;">
                Hola, {{userInformation?.name | slice: 0:18}}...
            </button>
            <button mat-icon-button (click)="logOutSesion()" style="color: red;">
                cerrar sesión
            </button>
        </ng-container>
        <ng-template #elseTemplate>
            <button mat-icon-button (click)="openDialog('sign-up')">
                Registrarse
            </button>
            <button mat-icon-button (click)="openDialog('sign-in')">
                Iniciar sesión
            </button>
        </ng-template>
    </div>
</div>