<h1 mat-dialog-title>Registrate</h1>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="signUpForm">
        <mat-form-field appearance="fill">
            <mat-label>Nombre completo</mat-label>
            <input matInput formControlName="name" type="text">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="email" type="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Cédula</mat-label>
            <input matInput formControlName="cedula" type="text">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Repite Contraseña</mat-label>
            <input matInput formControlName="confirmpassword" type="password">
        </mat-form-field>
        <span *ngIf="errorInfo.hasError" class="error-msg">{{errorInfo.errMessage}}</span>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close (click)="openSignInDialog()" style="color: blue;">¿Ya tienes cuenta? Inicia sesión</button>
    <button mat-raised-button (click)="signUpRequest()" [disabled]="!signUpForm.valid" class="submit-btn">crear cuenta</button>
</mat-dialog-actions>