<h1 mat-dialog-title>Inicia Sesión</h1>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="signInForm">
        <mat-form-field appearance="fill">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="email" type="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close (click)="openSignUpDialog()" style="color: blue">¿No tienes una cuenta? Regístrate</button>
    <button mat-raised-button (click)="signInRequest()" [disabled]="!signInForm.valid" class="submit-btn">Inicia
        Sesión</button>
</mat-dialog-actions>