.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 3px 5px 0px rgba(118, 118, 118, 0.75);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(118, 118, 118, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(118, 118, 118, 0.75);
    .title {
      font-size: 20px;
      font-weight: bold;
    }
    .buttons {
      display: flex;
      justify-content: center;
      button {
        width: 100px;
        color: #cb2f1b;
        font-size: 15px;
      }
    }
  }
  